{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up Form{% endblock %}
{% block content %}
<div class="col-md-4" style="margin:1rem auto 1rem auto;">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong style="font-size: 1rem;">Password is recommended to have one each
        <ul>
            <li>Minimum Length: 8 Characters </li>
            <li>Upper Case Letter</li>
            <li>Lower Case Letter</li>
            <li>Special Character</li>
            <li>Numeric Digit</li>
        </ul>
    </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <h5 class="h5-responsive" style="text-align: center;">Sign Up Form</h5>
    <hr>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" value="SignUp" class="btn btn-primary" style="margin: 0 auto;display: block;margin-top: 2px;">Sign Up</button>
</form>
</div>
{% endblock %}