{% extends 'index.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto 5rem auto;text-align:center">
            {% load static %}
            <img src="{% static 'about.jpg' %}" class="img-fluid" style="margin-top: 1.5rem;">
            <h3 class="h3-responsive" style="font-size: 2rem;text-align: center;color: white;font-weight: bold;margin-top: 1rem;">We work on Resume,
                Placements,Profile and Preparations which gets the best out of you.
                Stay tuned for more.
                #BuildYourResume
            </h3>
            <a href="{% url 'index' %}" style="margin:0rem auto 0rem auto;" class="btn peach-gradient">Go Back Home</a>
        </div>
    </div>
</div>

{% endblock %}