{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}UserFeedBack{% endblock %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-6" style="margin: 0 auto;">
{% if feedback == True %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>FeedBack Submitted</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<form style="margin-top: 5rem;" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" style="display: block;margin: 1rem auto 0 auto;" class="btn btn-primary">
</form>
</div>
</div>
</div>
{% endblock %}